<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>登陆{{ region }}地区 </title>
    </head>
    <body>
        {% from "_formhelpers.html" import render_field %}
        <form method="post">
            <dl>
                {{ render_field(form.username) }}
                {{ render_field(form.password) }}
            </dl>
            <input class="btn btn-default" type="submit" value="登陆"/>
        </form>
        <p>还未注册？开始<a href="{{ url_for('register', region=region) }}">注册</a></p>
    </body>
</html>

